.drawer-menu {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drawer-title {
  line-height: 40px;
  font-weight: 500;
}

.clear-canvas-btn {
  color: #333;
}

.clear-canvas-btn:hover {
}

.clear-input-btn {
  font-size: 14px;
}

#drawer {
  border: 1px solid silver;
}

.upload-btn {
  display: block;
  margin-top: 10px;
}
