<div class="draw-section">
  <div class="drawer-menu">
    <span class="drawer-title">{{'RecognizeSymbolDrawerTitle' | translate}}</span>
    <button mat-icon-button
            id="clearBtn"
            class="clear-canvas-btn"
            matTooltip="{{'ClearCanvasTooltip' | translate}}"
            [matTooltipPosition]="'after'">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <canvas id="drawer"></canvas>

  <div class="buttons-section">
    <button mat-button mat-raised-button class="cancel-btn" (click)="onCancelBtnClick()">{{'CancelBtn' | translate}}</button>
    <button mat-button mat-raised-button class="upload-btn" color="primary" (click)="onUploadImgBtnClick()">{{'UploadSymbolBtn' | translate}}</button>
  </div>
</div>
