::ng-deep .upload-file-custom {
  min-width: 350px;
  height: fit-content;
  width: fit-content;

  .mat-dialog-container {
    border-radius: 10px;
  }
}

.select-file-dialog-content {
  .upload-file-title {
    font-size: 16px;
    font-weight: 500;
  }

  .upload-file-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid silver;
    padding-bottom: 3px;
    margin-top: 10px;
    cursor: pointer;

    .select-file-btn:hover {
      background-color: #f2f2f2;
    }

    .mat-icon {
      color: #3f51b5;
    }

    span {
      display: block;
      line-height: 24px;
      font-size: 15px;
      color: #7f7f7f;
      padding-top: 10px;
      margin-left: 10px;
    }
  }

  .validation-error {
    color: #c61818;
    height: 13px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
}
