<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="openLanguageDialog()">
      <mat-icon>language</mat-icon>
    </button>
  </div>
  <div class="home-link">
    <a routerLink="/home">{{'HomePageBtn' | translate}}</a>
  </div>
  <div class="buttons-section">
    <ul class="navigation-items">
      <li>
        <a routerLink="/add-symbols">{{'AddNewSymbolsBtn' | translate}}</a>
      </li>
      <li>
        <a routerLink="/account">{{'RecognizeTextBtn' | translate}}</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
