a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

.home-link {
  margin-left: 10px;
}

.buttons-section {
  width: calc(100% - 105px);
  display: flex;
  flex-direction: row;
  justify-content: end;

  ul {
    li {
      width: fit-content;
      display: inline-block;
      margin-right: 10px;
      font-size: 17px;
    }
  }
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
