<mat-toolbar color="primary">
  <div>
    <button mat-icon-button
            matTooltip="{{'LanguageTooltip' | translate}}"
            (click)="openLanguageDialog()">
      <mat-icon>language</mat-icon>
    </button>
  </div>
  <div class="home-link">
    <a routerLink="" matTooltip="{{'HomePageBtn' | translate}}"><i>NeiroNet</i></a>
  </div>
  <div class="buttons-section">
    <ul class="navigation-items">
      <li>
        <a routerLink="/add-symbols">{{'AddNewSymbolsBtn' | translate}}</a>
      </li>
      <li>
        <a routerLink="">{{'RecognizeTextBtn' | translate}}</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
