<div class="body-content">
  <div class="home-content-section">
    <div class="animation-section">
      <canvas id="home-animation" width="672" height="300"></canvas>
    </div>
    <p>
      {{'MainTargetApplication' | translate}}
    </p>
    <p>
      {{'AdditionalTargetApplication' | translate}}
    </p>
    <div class="buttons-section">
      <button mat-button
              mat-raised-button
              onclick="this.blur()"
              color="primary"
              (click)="onUploadImgBtnClick()">{{'AddFileBtn' | translate}}</button>
      <button mat-button
              mat-raised-button
              onclick="this.blur()"
              class="write-symbol-btn"
              (click)="onWriteSymbolBtnClick()">{{'WriteSymbol' | translate}}</button>
    </div>
  </div>
</div>
