<div class="body-content">
  <div class="train-symbol-section">
    <div class="draw-section">
      <div class="drawer-menu">
        <span class="drawer-title">{{'AddSymbolDrawerTitle' | translate}}</span>
        <button mat-icon-button
                id="clearBtn"
                class="clear-canvas-btn"
                matTooltip="{{'ClearCanvasTooltip' | translate}}"
                [matTooltipPosition]="'after'">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <canvas id="drawer"></canvas>
    </div>
    <div class="forms-section">
      <mat-form-field class="add-value-form-field" appearance="fill">
        <mat-label>{{'NewValueLabel' | translate}}</mat-label>
        <input matInput type="text" [(ngModel)]="newValue">
        <button mat-icon-button
                matSuffix
                *ngIf="newValue"
                class="clear-input-btn"
                matTooltip="{{'ClearBtnTooltip' | translate}}"
                [matTooltipPosition]="'after'"
                (click)="newValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button (click)="learnNewSymbol()">{{'AddBtn' | translate}}</button>
    </div>
  </div>
</div>
