#drawer {
  border: 1px solid silver;
}

.train-symbol-section {
  width: 672px;
  display: flex;
}

.forms-section {
  margin-left: 20px;
  margin-top: 60px;
  width: 250px;
}

.add-symbol-content {
  display: flex;
  flex-direction: revert;
  justify-content: center;
}

.add-value-form-field {
  width: 250px;
}
