#drawer {
  border: 1px solid silver;
}

.train-symbol-section {
  padding: 0px 25px 25px 25px;
  width: 672px;
  display: flex;
  background-color: white;
}

.forms-section {
  margin-left: 20px;
  margin-top: 60px;
  width: 250px;
}

.add-symbol-content {
  height: calc(100% - 40px);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: revert;
  justify-content: center;
}

.add-value-form-field {
  width: 250px;
}
